---
layout: layouts/base.njk
title: Resources
description: Additional retirement planning resources and tools from Mike Stevens
permalink: /resources/
---

<section class="section section-resources">
    <div class="container">
        <div class="resources-header reveal">
            <h1>Resources</h1>
            <p>Additional tools and resources to help you retire with confidence</p>
        </div>
        
        <div class="resources-content reveal">
            <div class="resources-placeholder">
                <h2>Coming April 2026</h2>
                <p>This resources page will be available in April 2026 with additional tools, calculators, and guides to supplement your copy of "Retire Right, Retire Now".</p>
                
                <p>In the meantime, <a href="/#opt-in">get your free chapter</a> to start building your retirement confidence today.</p>
            </div>
        </div>
    </div>
</section>